
.galeria-obras .col-lg-4{
    margin: 0 !important;
    padding: 20px;
}

.obra-body{
    background-color: #fcfcfc;
    border-bottom : 3px solid #604666;
}


.galeria-obras img {
    width: 100%;
    height: 250px;
    border: 1px solid black;
    border-radius: 0.5rem;
}

.galeria-obras img:hover{
    border: 2px solid black;
}